
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.outer-container {
    display: flex;
    justify-content: flex-start;
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 1;
}

@font-face {
    font-family: Norse-Bold;
    src: url("/Norse-Bold.otf") format("opentype");
}

body {
    background-color: whitesmoke;
}

.img-sidebar > img {
    width: 100%;
    height: 100vh; 
}

.img-sidebar {
    position: relative;
}

.logo-container {
    position: absolute;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-family: Norse-Bold;
    font-size: 100px; 
    color: white;
    top: 170px; 
}


.logo-container > img {
    width: 25%; 
    height: 70%;
}

.login-form {
    display: flex;
    flex-direction: column;
    height: 30%;
    padding-top: 15px; 
    padding-left: 36px;
    background-color: white;
}

form > p {
    font-size: large;
    font-weight: bold; 
    margin-bottom: 14px;
}

.header {
    height: 40%;
    font-weight: bold;
    position: relative;
    padding-top: 150px; 
    background-color: whitesmoke;
    line-height: 1.2;
    font-size: large;
    
}

.header > p {
    position: absolute; 
    left: 36px; 
    bottom: 48px; 
    width: 560px; 
}


.first-row, .middle-row, .last-row {
    display: flex;
    gap: 60px; 
}


label {
    font-size: x-small;
    font-weight: 400;
}

input {
    display: block; 
    width: 13.5rem; 
    border-radius: 3px;
    border-color: #E5E7EB;
    border-style: solid;
    border-width: thin;
    margin-bottom: 10px;
}

.error {
    border-color: red;
}

.error-msg {
    color: red; 
    font-size: x-small;
}

button {
    background-color: #596D48;
    color: white; 
    font-weight: bold;
    padding: 8px 40px; 
    border-radius: 6px;
    margin: 60px 0px; 
}

a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
}

.footer {
    background-color: whitesmoke;
    margin-left: 36px;
    height: 30%; 
}

.footer > p {
    font-size: small;
    margin-top: 80px; 
}
