
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.outer-container {
    display: flex;
}


.content {
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: Norse-Bold;
    src: url("/Norse-Bold.otf") format("opentype");
}

.img-sidebar > img {
    width: 100%;
    height: 100vh; 
}

.login-form {
    display: flex;
    flex-direction: column;
    height: 30%;
    padding-top: 15px; 
    padding-left: 36px;
}

.login-form > p {
    font-size: large;
    font-weight: bold; 
    margin-bottom: 10px;
}

.header {
    height: 40%;
    font-weight: bold;
    padding-top: 150px; 
    padding-right: 480px;
    padding-left: 36px;
    background-color: whitesmoke;
    line-height: 1.2;
    font-size: large;
    
}

.sign-up {
    height: 30%; 
    padding-left: 36px;
}

.first-row, .middle-row, .last-row {
    display: flex;
    gap: 60px; 
}


label {
    font-size: x-small;
    font-weight: 400;
}

input {
    display: block; 
    width: 12rem; 
    border-color: #E5E7EB;
    border-style: solid;
    margin-bottom: 10px;
}

.error {
    border-color: red;
}

.error-msg {
    color: red; 
    font-size: x-small;
}
