body {
    margin: 0; 
}

.outer-container {
    display: flex;
}

.content {
    padding-left: 40px;
}

.img-sidebar>img {
    width: 100%;
    height: 100vh; 
}

.login-form {
    display: flex;
    height: 30%;
}

.header {
    height: 40%;
}

.sign-up {
    height: 30%; 
}